.city-button-wrapper button {
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        background: color-mix(in srgb, var(--color-purple-300), transparent);
    }

    &:active {
        background: color-mix(in srgb, var(--color-purple-400), transparent);
    }
}